.no-gutter {
    padding:0!important;
}

.line-item-contain {
	margin-bottom: 15px;
}
.tfd-contain {
	margin-bottom: 20px;
}

.sales-tax {
	width:30%;
}
.add-discount {
	width:30%;
}
.text-right {
	text-align: right;
}
.delete-item {
	position: absolute;
	right:20px;
	width:40px;
	height:40px;
	border-radius:50%;
	background: #f7f7f7;
	text-align: center;
}
/*.line-item-input {
	width:52%;
}*/

ul {
	padding: 0;
}
li {
	list-style: none;
}

.react-autosuggest__container input {
	
	display: block;
	    width: 100%;
	    padding: 0.5rem 0.75rem;
	    font-size: 1rem;
	    line-height: 1.25;
	    color: #55595c;
	    background-color: #fff;
	    background-image: none;
	    -webkit-background-clip: padding-box;
	    background-clip: padding-box;
	    outline:none;
	    border: 1px solid rgba(0, 0, 0, 0.15);
	    border-radius: 0.25rem;
}
.react-autosuggest__container--open {
		width: 100%;
	    height: 150px;
	    position: absolute;
	    
	    z-index: 2;
	    background: #fff;

}

li:nth-child(odd) {
	background: #f7f7f7;
}

.react-autosuggest__suggestions-container {
	position: absolute;
	height:100px;
	width:100%;
	overflow-y: scroll;
}

.react-autosuggest__suggestions-container li {
	padding-top: 6px;
	padding-bottom: 6px;
}

.react-autosuggest__input {
	width:20px;
	position: relative;
}
.react-autosuggest__container .react-autosuggest__container--open{
	position: absolute;
	width:400px;
	height:100px;
}
.react-autosuggest__suggestion
.react-autosuggest__suggestion--focused
.react-autosuggest__section-container
.react-autosuggest__section-title
.react-autosuggest__section-suggestions-container