select {
	background: none;
	height: 33px;
	width:65px;
}

body {
	overflow-x:none;
}

input {
	font-size: 16px;
}
body .form-control {
	padding-left:6px;
	padding-right: 6px;
}

.loader-contain {
	position: absolute;
	width:120px;
	height:120px;
	left:50%;
	top:120px;
	margin-left: -60px;
	text-align: center;
}

.loader {
	border:16px solid #f3f3f3;
	border-top:16px solid#3498db;
	width:120px;
	height:120px;
	animation: spin 2s linear infinite;
	border-radius: 50%;
	position: absolute;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.modal-close {
	position: absolute;
	right: 0;
	top: 0;
	outline: none;
	border: none;
	background: none;
	color: #666;
	font-size: 19px;
}
.red {
	color:red;
}
.select-main {
	margin-bottom: 20px;
}
.no-gutter {
    padding:0!important;
}

.line-item-contain {
	margin-top:15px;
	margin-bottom: 15px;
}


.tfd-contain {
	margin-bottom: 20px;
}

.line-total {
	position: absolute;
	    left: 40px;
}

.sub-total {
	position: absolute;
	    left: 0px;
}

.tfd-contain input {
	width:70%;
}

body .split-payment {
	width:70%;
}
.sales-tax {
	width:30%;
}
.add-discount {
	width:30%;
}
.text-right {
	text-align: right;
}
.delete-item {
	position: absolute;
	right:0px;
	width:20px;
	height:20px;

	background: #f7f7f7;
	text-align: center;
}
.low {
	
	height:50px;
}

body .qty-ord {
	width:117%;
}

body .qty-del {
	width:55%;
}
.table-header label {
	position: absolute;
	bottom: 0;
	text-align: center;
}

.total-header {
	position: absolute;
	left:40px;
}
/*.line-item-input {
	width:52%;
}*/

ul {
	padding: 0;
}
li {
	list-style: none;
}

.state-select input {
	display: block;
	    width: 100%;
	    padding: 0.5rem 0.75rem;
	    font-size: 1rem;
	    line-height: 1.25;
	    color: #55595c;
	    background-color: #fff;
	    background-image: none;
	    -webkit-background-clip: padding-box;
	    background-clip: padding-box;
	    outline:none;
	    border: 1px solid rgba(0, 0, 0, 0.15);
	    border-radius: 0.25rem;
	    padding-top:5px;
}

.contact-line {
	margin-top:10px;
	margin-bottom: 10px;
}
.react-autosuggest__container input {
	
	display: block;
	    width: 100%;
	    padding: 0.5rem 0.75rem;
	    padding-top: 7px;
	    line-height: 1.25;
	    color: #55595c;
	    background-color: #fff;
	    background-image: none;
	    -webkit-background-clip: padding-box;
	    background-clip: padding-box;
	    outline:none;
	    border: 1px solid rgba(0, 0, 0, 0.15);
	    border-radius: 0.25rem;
}
.react-autosuggest__container--open {
		width: 100%;
	    height: 150px;
	    position: absolute;
	    
	    z-index: 2;
	    background: #fff;

}

li:nth-child(odd) {
	background: #f7f7f7;
}

li:hover {
	cursor: pointer;
}

.react-autosuggest__suggestions-container {
	position: absolute;
	height:100px;
	width:100%;
	overflow-y: scroll;
}

.react-autosuggest__suggestions-container li {
	padding-top: 6px;
	padding-bottom: 6px;
}

.react-autosuggest__input {
	width:20px;
	position: relative;
}
.react-autosuggest__container .react-autosuggest__container--open{
	position: absolute;
	width:400px;
	height:100px;
}

.contact-parties label {
	position: relative;
	top:5px;
}
